$backgroundColor: #fafafa;
$boxbackgroundColor: #ffffff;
$borderColor: rgb(219, 219, 219);
$boldFont: 600;
$blackColor: #262626;
$lightGrayColor: #c7c7c7;
$blueColor: #0095f6;
$radius: 3px;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin centerSetDirection($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin flexCenterAndSetJustify($justify-content: center) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
