// comment 컴포넌트
.Comment {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 12px;
    height: 12px;
    margin-right: 16px;
  }

  .commentListBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .commentLikeBtn {
      margin-right: 8px;
    }
  }
}
